<h3 class="mb-3">Client List</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Credit Card Type</th>
        <th scope="col">Credit Card Number</th>
        <th scope="col">Debt</th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Hermon Carmody</td>
        <td>hcarmody0@howstuffworks.com</td>
        <td>switch</td>
        <td>4905237291295323</td>
        <td>$63470.88</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Flss Garshore</td>
        <td>fgarshore1@cornell.edu</td>
        <td>jcb</td>
        <td>3568478904248610</td>
        <td>$36712.99</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Aundrea Paiton</td>
        <td>apaiton2@pbs.org</td>
        <td>jcb</td>
        <td>3541346457253745</td>
        <td>$250.65</td>
      </tr>
    </tbody>
  </table>

<main class="py-5">
    <h3 class="mb-3">Remove Client</h3>
    <form>
        <div class="bg-light p-4">
            <div class="form-row">                                                                         
                <div class="form-group col-lg-3">
                    <label for="">Client Id</label>
                    <input type="text" name="clientId" class="form-control form-control-ml" value="">
                </div>                                      
            </div>                          
            <button type="submit" class="btn btn-primary">Remove</button>
        </div>                                                     
    </form>
</main>